name: CI
on:
  workflow_call:
    secrets:
      gcp_keyfile:
        required: true
      localstack_api_key:
        required: true
    
jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      GCP_KEYFILE: ${{ secrets.GCP_KEYFILE }}
      LOCALSTACK_API_KEY: ${{ secrets.LOCALSTACK_API_KEY }}

    steps:
      - name: Checkout Branch
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Poetry
        run: curl -sSL https://install.python-poetry.org | python - --version 1.6.1
      - name: Install Python Dependencies
        run: |
          poetry config virtualenvs.create false
          poetry install
      - name: Run dbt deps
        run: |
          cd ./integration_tests
          dbt deps
      - name: dbt CI - duckdb
        run: |
          cd ./integration_tests
          dbt build -x --target duckdb
        env:
          GCP_KEYFILE_PATH: ./gcp_keyfile.json
          DBT_PROFILES_DIR: . # Use integration_tests/profiles.yml
      - name: dbt CI - snowflake
        run: |
          localstack start -d
          localstack extensions install localstack-extension-snowflake
          cd ./integration_tests
          dbt build -x --target snowflake
      - name: dbt CI - bigquery
        run: |
          cd ./integration_tests
          echo $GCP_KEYFILE > $GCP_KEYFILE_PATH
          ls -l
          dbt build -x --target bigquery
        env:
          GCP_KEYFILE_PATH: ./gcp_keyfile.json
          DBT_PROFILES_DIR: . # Use integration_tests/profiles.yml


